<section>
  <div class="container ">
    <div class="row g-5">
      @for(product of productList;track product.id){
      <div class="col-md-4">
        <div class="card" [class.bg-success]="product.onSale">
          <img class="card-img-top" [src]="product.imageCover" alt="Title" />
          <div class="card-body">
            <h4 class="card-title">ID: {{product.id}}</h4>
            <h4 class="card-title">Title: {{product.title}}</h4>
            <p class="card-text">Description: {{product.description}}</p>
            <p class="card-text">Price: {{product.price}}</p>
            <p class="card-text">OnSale: {{product.onSale}}</p>
            <div class="row g-5">
              @for (productImage of product.images; track $index) {
              <div class="col-md-3">
                <img class="w-100" [src]="productImage" alt="ProductImage">
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      }@empty {
      <h2>Not Data Founded</h2>
      }
    </div>
  </div>
</section>